import { TestData } from '../helpers/types';

export const dev: TestData = {
  baseUrl: 'http://localhost:4000/',
  scenarios: [
    // TODO: Add your test scenarios here
    // Example:
    { name: 'exampleTestData', description: 'Example test data' }
  ],
};
