import { TestData } from '../helpers/types';

export const prd: TestData = {
  baseUrl: 'http://localhost:4000/',
  scenarios: [
    // TODO: Add your test scenarios here
    // Example:
    // { name: 'getCharacter', description: 'Fetch a single character' },
  ],
};
